[user]
	name = Ali Al Amine
	email = alialamine95@gmail.com
	signingkey = F679FF5394DAF620

[alias]
	c = commit -S
	st = status
	d = diff
	p = push
	a = add .
	pl = pull --rebase
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
